 /*----------- Homepage section -----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
}

body-1{
	font-family: sans-serif;
}

 /*----------- Website description section -----------*/
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background: #678136;
}
.header{
	background: radial-gradient(#fff,#cba147);
}
.header .row{
	margin-top: 70px;
}
.header h1{
	text-align: center;
	font-size: 60px;
	color: #06658F;
	margin-bottom: 20px;
}

/*----------- Search bar and Navigation bar section -----------*/
.navbar{
    display: flex;
    align-items:center;
    padding: 20px;
    border: 2px solid black;
    border-width: thin;
    border-height: 30px;
}
.navbar .search-container {
  float: right;
}
.navbar input[type=text]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.navbar .search-container button{
  float: right top;
  padding: 6px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.navbar .search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px){
  .navbar a, .navbar input[type=text]{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text]{
    border: 1px solid #ccc;
  }
}

nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #06658F;
}
p{
	color: #555;
}
p-2{
	text-align: right;
}
.container{
	max-width: 1300;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

 /*----------- Categories section -----------*/
.categories{
	margin: 70px 0;
}
h2{
	text-align: center;
	font-size: 60px;
	color: DodgerBlue;
}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}
.col-3 img{
	width: 100%;
	height: 350px;
}
.small-container{
	max-width: auto;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
	height: 250px;
}

 /*----------- Products section -----------*/
h3.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4{
	color: #555;
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
}
.rating .fa{
	color: #cba147;
}
.col-4:hover{
	transform: translateY(-5px);
}
.col-5{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-5 img{
	max-width: 300px;
	height: 180px;
	align-items: center;
}
.col-5:hover{
	transform: translateY(-5px);
}
.p2{
	display: inline-block;
	margin-right: 20px;
}

/*---------- Payment System -----------*/
.app-container{
	height: 600px;
	width: 350px;
	background-image: linear-gradient(#580e8f,#9200ff);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
.top-box{
	height: 150px;
	background-color: #9100fb;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 80px;
}
.top-box p-2{
	text-align: center;
	padding-top: 20px;
	color: #fff;
}
.left-icon{
	float: left;
	margin-left: 30px;
}
.right-icon{
	float: right;
	margin-right: 30px;
}
.middle-box{
	height: 150px;
	background-image: linear-gradient(#580e8f,#9200ff);
	margin: -70px 30px 20px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	border-radius: 10px;
}
.middle-box h-1{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 50px;
	font-weight: normal;
}
.middle-box h-1 span{
	font-size: 20px;
	margin-left: 5px;
	bottom: 18px;
	position: relative;
}
.payment-option-btn{
	color: #fff;
	margin: 5px;
	height: 30px;
	width: 290px;
	background-color: #F9AB9B;
	border: none;
	cursor: pointer;
}
.card-details{
	background: #fff;
	color: #555;
	margin: 10px 30px;
	padding: 10px;
}
.card-details p-3{
	font-size: 14px;
}
.card-details label{
	font-size:10px;
	line-height: 20px;
}
.card-num-field-group{
	margin-top: 10px;
}
.date-field-group{
	margin-top: 10px;
	display: inline-block;
}
.cvc-field-group{
	margin-top: 10px;
	display: inline-block;
	float: right;
}
.name-field-group{
	margin-top: 10px;
}
.card-num-field, .name-field{
	width: 270px;
}
.date-field, .cvc-field{
	width: 80px;
}
.card-details input{
	border: 1px solid #ccc;
	height: 22px;
	padding: 5px;
	font-size: 10px;
}
.card-details input::placeholder{
	color: #ccc
}
.pay-btn{
	width: 270px;
	color: #fff;
	margin-top: 20px;
	height: 30px;
	background-color: #F9AB9B;
	border: none;
	cursor: pointer;
}

 /*----------- Bottom Footer section -----------*/
.footer{
	background: radial-gradient(#fff,#cba147);
	color: #06658F;
	font-size: 18px;
	padding: 20px;
}
.footer p{
	color: #06658F;
}
.footer h3{
	color: #06658F;
	margin-bottom: 20px;
	font-size: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}

 /*----------- App Store section -----------*/
.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 120px;
	height: 60px;
	align-self: auto;							/*-- Adjusted to align with the app store section*/
}
hr{
    height: 1px;
    background-color: #000;
    border: none;
 }
 
 /*----------- Copyright section -----------*/
 .copyright{
 	text-align: center;
 }
 .menu-icon{
 	width: 65px;
 	height: 80px;
 	margin-left: 20px;
 	display: none;
 }

 /*----------- media query for menu -----------*/
 @media only screen and (max-width: 800px){

 	nav ul{
 		position: absolute;
 		top: 70px;
 		left: 0;
 		background: #333;
 		width: 100%;
 		overflow: hidden;
 		transition: max-height 0.5s;
 	}
 	nav ul li{
 		display: block;
 		margin-right: 50px;
 		margin-top: 10px;
 		margin-bottom: 10px;
 	}
 	nav ul li a{
 		color: #fff;
 	}
 	.menu-icon{
 		display: block;
 		cursor: pointer;
 	}
 }

 /*----------- All Products Page -----------*/
 .row-2{
 	justify-content: space-between;
 	margin: 100px auto 50px;
 }
 select{
 	border: 1px solid #ff523b;
 	padding: 5px;
 }
 select:focus{
 	outline: none;
 }
 .page-btn{
 	margin: 0 auto 80px;
 }
.page-btn span{
	display: inline-block;
	border: 1px solid #ff523b;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page-btn span:hover{
	background: #ff523b;
	color: #fff;
}

 /*----------- single product details -----------*/
 .single-product{
 	margin-top: 80px;
 }
 .single-product .col-2 img{
 	padding: 0;
 }
  .single-product .col-2{
  	padding: 20px;
  }
  .single-product h4{
  	margin: 20px 0;
  	font-size: 22px;
  	font-weight: bold;
  }
  .single-product select{
  	display: block;
  	padding: 10px;
  	margin-top: 20px;
  }
  .single-product input{
  	width: 50px;
  	height: 40px;
  	padding-left: 10px;
  	font-size: 20px;
  	margin-right: 10px;
  	border: 1px solid #ff523b;
  }
  input:focus{
  	outline: none;
  }
  .single-product .fa{
  	color: #ff523b;
  	margin-left: 10px;
  }
  .small-img-row{
  	display: flex;
  	justify-content: space-between;
  }
  .small-img-col{
  	flex-basis: 35%;
  	cursor: pointer;
  }

  /*----------- cart items -----------*/
.cart-page{
	margin: 80px auto;
}
table{
	width: 100%;
	border-collapse: collapse;
}
table-2{
	text-align: center;
}
.cart-info{
	display: flex;
	flex-wrap: wrap;
}
th{
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #ff523b;
	font-weight: normal;
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: #ff523b;
	font-size: 12px;
}
td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}
.total-price{
	display: flex;
	justify-content: flex-end;
}
.total-price table{
	border-top: 3px solid #ff523b;
	max-width: 400px;
}
td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}
.account-page{
	padding: 50px 0;
}
.form-container{
	background: #F9AB9B;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0,1);
	overflow: hidden;
}

.form-container span{
	font-weight: bold;
	padding: 0 10px;
	color: #555;
	cursor: pointer;
	width: 100px;
	display: inline-block;
}
.form-btn{
	display: inline-block;
}
.form-container form{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
}
form input{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}
form .btn{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}
form .btn:focus{
	outline: none;
}
#LoginForm{
	left: -300px;
}
#RegForm{
	left: 0;
}
form a{
	font-size: 12px;
}
#Indicator{
	width: 100px;
	border: none;
	background: #fff;
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: transform 1s;
}
.btn-5{
	align-content: center
}
 /*----------- media query for screen size less than 600 -----------*/
 @media only screen and (max-width: 800px){
 	.row{
 		text-align: center;
 	}
 	.col-2, .col-3, .col-4{
 		flex-basis: 100%;
 	}
 	.single-product .row{
 		text-align: left;
 	}
 	.single-product .col-2{
 		padding: 20px 0;
 	}
 	.single-product h1{
 		font-size: 26px;
 		line-height: 32px;
 	}
 	.cart-info p{
 		display: none;
 	}
 }

  /*----------- About Us Section -----------*/
 .img-wrap img{
 	padding: 10px;
 	border-radius: 100%;
 	margin-left: 50px;
 	margin-right: 10px;
 	margin-top: 50px;
 	margin-bottom: 10px;
 	box-shadow: 0 0 10px #999999;
 	width: 300px; 
 	height: 270px;
 }

 /*----------- Payment System Section -----------*/
.row-2 {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; 
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container-2 {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input-2[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label-2 {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn-3:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row-2 {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/*----------- Contact Us Section -----------*/
form-2{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #333;
	color: #333;
	font-size: 18px;
	margin-bottom: 16px;
}
input-2{
	height: 45px;
	color: #333;
}
form-2 .submit{
	background: #2f4f4f;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 10px;
}
form-2 .submit:hover{
	background-color: #fff;
	cursor: pointer;
}
-----------*/